$black: #000000;
$white: #fff;
$green: #579381;
$title-green: #67E0BC;
$grey: #ddd;


$font-size-large: 48px; 
$font-size-medium: 24px;
$font-size-small: 14px;
$font-size-xlarge: 2rem;

@mixin btn {
    background-color: $green;
    padding: 9px 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

@mixin mainTitle {
    font-size: 2em;
    color: $black;
}

