$black: #000000;
$white: #fff;
$green: #579381;
$green--light: #96cfbe;
$title-green: #67E0BC;
$grey: #ddd;
$blend-grey: #4e494e;


$font-size-screen-medium: 1.7rem;
$font-size-large: 2rem; 
$font-size-medium: 24px;
$font-size-small: 14px;
$font-size-xlarge: 3rem;
$font-size-p: 1.2rem;
$font-size-card: 0.9rem;
$font-size-footer-copy: 0.8rem;

@mixin btn {
    background-color: $green;
    padding: 9px 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;

    &:hover {
        color: $white;
        background-color: $green--light;
        transition: all 0.5s ease-in-out;
    }
}

@mixin mainTitle {
    font-size: 2em;
    color: $black;
}


// animations 

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(+100px);
    }
    80% {
   
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
