@import './base/variables.scss';

.about {
    &__container {
        background-repeat: no-repeat; 
        background-size: cover;
        background-color: $blend-grey;
        background-blend-mode: multiply;

        @include atMedium {
            height: 50vh;
        }
      
            .about-us-banner {

            &__container {
                height: 40vh;

                @include atMedium {
                    height: 19vh;
                    margin-top: 85px;
                }

    
                #banner-title {
                    h2 {
                        color: $white;
                    }
        
                    h4 {
                        color: $white;
                    }
                    .button {
                        &__about-banner {

                            @include atMedium {
                                margin-top: 125px;
                            }
                        a {
                            @include btn;
                            color: $white;
                            text-decoration: none;
                
                            &:hover {
                            background-color: beige;
                            transition: all 0.5s ease-in-out;
                            }
                        }
                            
                        }
                    }
                }

            }
        }

        .logo {
            &__image {
                @include atMedium {
                    width: 90px;
                }
            }
        }
    }
}
    


.flex-container {
    display: flex;
    justify-content: space-around;

    @include atSmallMedium {
        flex-direction: column;
        align-items: center;
    }

    .item-1 {
        flex-grow: 1;
        padding: 15px;
    }

    .item-2 {
        flex-shrink: 2;
        padding: 15px;
    }

}

.hide-opacity {
    opacity: 0;
}

.animated.slideInLeft {
    animation: slideInLeft;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
