@import './base/variables.scss';

.homepage-title {
    position: absolute;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;

        h2 {
            color: $white;
            font-size: $font-size-large;
            font-family: 'Roboto Mono', monospace;
        }

        h4 {
            color: $white;
            font-size: $font-size-xlarge;
            line-height: 28px;
        }
    }

}

#banner-title {
    text-align: center;
    h2, h4 {
        line-height: 70.2px; 
        color: $white;

        
    }

    h2 {
        animation-name: moveInLeft;
        animation-duration: 2.0s;
        font-size: $font-size-xlarge;
    }

    h4 {
        animation-name: moveInRight;
        animation-duration: 2.0s;
        font-size: $font-size-large; 
    }
    .button {
        &__homepage-banner {
            animation-name: moveInUp;
            animation-duration: 1.5s;
        }
    }
        

    
    
}

