@import './base/variables.scss';

.homepage-title {
    position: absolute;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;

        h2 {
            color: $white;
            font-size: $font-size-large;
            font-family: 'Roboto Mono', monospace;
        }

        h4 {
            color: $white;
            font-size: $font-size-xlarge;
            line-height: 28px;
        }
    }

}

.homepage-banner {
    &__container {
        @include atMedium {
            position: absolute;
            top: 132px;
        }
    }
}

#banner-title {
    text-align: center;

        @include atMedium {
            margin: 0 auto;
            width: 100%;
            margin-top: -122px;
        }

    h2 {
        line-height: 70.2px;
        font-size: $font-size-xlarge; 
        color: $white;

        @include atMedium {
            font-size: 1.5em;
            line-height: 0.8;
        }

        
    }

    h4 {
        line-height: 70.2px;
        font-size: $font-size-large; 
        color: $white;

        @include atMedium {
            font-size: 1.0em;
            line-height: 1.0;
            padding: 30px;
        }
    }

    h2 {
        animation-name: moveInLeft;
        animation-duration: 2.0s;

        @include atMedium {
            font-size: 1.2em;
            font-weight: 600;
            width: 100%;
            margin: 0 auto;

        }
       
    }

    h4 {
        animation-name: moveInRight;
        animation-duration: 2.0s;
         
    }
    .button {
        &__homepage-banner {
            animation-name: moveInUp;
            animation-duration: 1.5s;
        }
    }
        

    
    
}

