@import './base/variables.scss';

.button {
    
    &__homepage-banner {

        a {
            @include btn;
            color: $white;
            text-decoration: none;

            &:hover {
            background-color: beige;
            transition: all 0.5s ease-in-out;
            }
        }
        
    }
}