@import './base/variables.scss';

footer {
    font-family: 'Roboto Mono', sans-serif, helvetica;
    font-style: normal;
    font-weight: 400;
    color: $white;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;

    li {
        list-style: none;

        &.menu-item-type-custom {
            font-size: $font-size-medium;
            padding-bottom: 1em;
        }
    }

    a {
        color: $white;
        text-decoration: none;
    }

    .flex-container {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .footer-section {
        flex-direction: row;
    
        .button_home {
            @include btn;
            width: 223px;
            
            a {
                color: $white;
                text-decoration: none;
            }
        }
        .item-2 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .item-12 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
    }

    .copyright p {
        font-size: $font-size-footer-copy;
    }

}