@import './base/variables.scss';

.section-title {
    text-align: center;
    h1 {
        @include mainTitle;
    }

    p {
        line-height: 1.2em;
    }

}


.skill {  
    &__container {
        padding-top: 1rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;

        .card-image img {
            width: 100% !important;
            height: auto !important;
            max-width: 100%;
        }
    }

    
    
}