@import './base/variables.scss';

.skill {  
    &__container {
        padding-top: 1rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;

        .card {
            border: none;
        }

        .card-image img {
            width: 100% !important;
            height: auto !important;
            max-width: 100%;
        }

        .card-title {
            text-align: center;
        }
    }

    
    
}