@import './base/variables.scss';
.header {
    position: relative;
    padding: 10px;

    &__container {
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;


        .logo {
            &__image {
                background-color: transparent;

                @include atMedium {
                    img {
                        width: 130px;
                        height: 130px;
                        padding: 10px;
                    }
                }
                
            }
        }

        .down-arrow {
            position: absolute;
            width: 67px;
            height: 67px;
            background: rgba(19, 4, 4, 0.33);
            border-radius: 58px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2em;  
            margin: 0 auto;
            bottom: 1em;

            a {
                color: $white;
            }
            
            .fa-arrow-down {
                animation: pulse; /* referring directly to the animation's @keyframe declaration */
                animation-duration: 2s; /* don't forget to set a duration! */
                animation-iteration-count: infinite;
                font-size: 1em;
            }
            
            
        }
    }
    
    nav {
        ul {
            display: flex;
        }
    }
    
}