@import './base/baseline.scss';

.top-nav {
  width: 100%;
  position: relative;

  .search {
    .search-trigger {
      cursor: pointer;
      font-size: 1.2rem;
      padding-left: 20px;
      color: $white;

        & > i:before {
          color: $white;
        }
      @include atMedium {
        float: right;
      }
      }

    @include atMedium {
      position: absolute;
      max-width: 68px;
      right: 0;
    }
    
  }
  
  .col-md-7 {
    width: 66.333333%;
  }
  
  
  nav {
      display: flex;
      justify-content: end;
      text-align: center;
      
      &.nav__menu {
        
            @include atMedium {
              visibility: hidden;
              transform: translateY(-20%);

              &--active {
                visibility: visible;
                opacity: 1;
                display: flex;
                justify-content: center;
                text-align: center;
                background-color: $green;
                width: 100%;
                height: 100vh;
                transform: translateY(0);
                background-color: $green;
                transition: opacity 0.3s ease-out, visibility 0.3s ease-out, transform 0.3s ease-out;
                position: absolute;
                top: 85px;
                left: 0;
                right: 0px;
                bottom: 0;
                z-index: 11;
              }
          }
        } 
      
         
  ul {
      display: flex;  
      
        @include atMedium {
          display: block;
        }
  li {
      list-style: none;
      margin-right: 5px;
  a {
      color: $white;
      text-decoration: none;
      margin-right: 20px;

        &:hover {
            display: block;
            color: $grey;
                
        }
    }
  .sub-menu {
      display: none;   
  }
                  
  }
  } 

}

  .mobile-menu {
    display: none;
    padding-right: 30px;

    i:before {
      color: $white;
    }
    

    @include atMedium {
        visibility: visible;
        opacity: 1;
        flex-direction: row-reverse;
        display: flex;
        position: absolute;
        width: 91%;
        top: 5px;
        
    }
  }  
}
