.animated.moveInUp {
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-delay: 0.5s;
}

.myportfolio {

    h3 {
        color: $black;
        text-align: center;
    }

    h1 {
        text-align: center;
    }
    
    a {
        color: $black;
        text-decoration: none;
        
    }
}
